@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 234, 214;
  --background-end-rgb: 255, 255, 255;
  --secondary-color: 173, 72, 72;
  background-color: rgb(250, 234, 214);
  width:100vw;
  height:auto;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(var(--background-start));

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}