[mysqld]
datadir=/var/lib/mysql
innodb_default_encryption_key_id=1
innodb_encrypt_tables=ON
innodb_encrypt_log=ON
innodb_encryption_threads=4
innodb_temp_tablespace_encrypt=ON
innodb_undo_directory_encrypt=ON
innodb_encrypt_online_alter_logs=ON